<!doctype html>
<html>
    <head>
        <title>WEB322APP</title>
       <link rel="stylesheet" 
             href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" 
             type="text/css" />
        <link rel="stylesheet" href="/css/site.css" type="text/css" >
    </head>
    <body>
        <header>
        <div class="container">
            <div class="row">
				<div class="col-md-12">
					<h2>myApp</h2>
				</div>
			</div>
		</div>
      </header>
     <nav>
		<div class="container">
			 <ul class = "pull-left">
                 <li><a herf = "/"> Home </a></li>
                <li><a herf = "/about"> About </a></li>
            </ul>
             <ul class = "pull-right">
                <li><a herf = "/employees"> All Employees </a></li>
                <li><a herf = "/managers"> Managers </a></li>
                <li><a herf = "/departments"> Departments </a></li>
            </ul>
		</div>
	</nav>
   <div class="container">
       {{{body}}}
    </div>
    <footer>
		<div class="container">
            <div class="col-md-12">
				<h2>&#169;2017 - Xiaochen Wang</h2>
			</div>
		</div>
   </footer>
    </body>
</html>