<!doctype html>
<html>
    <head>
        <title>About</title>
		<link rel="stylesheet" href="css/site.css" type="text/css">
        <link rel="stylesheet" href="https://cdn.rawgit.com/WEB222-Samples/Utilities/master/bootstrap-md-grid/bootstrap-md-grid.css" type="text/css" >
	</head>
    <body>
        <header>
        <div class="container">
			
		</div>
      </header>
     <nav>
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<ul>
						<li> <a href="/"> Home </a> </li>
						<li> <a href="/about"> About </a> </li>
					</ul>
				</div>
			</div>
		</div>
	</nav>
   <div class="container">
	</div>
   <footer>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h2>&#169;2017 - Xiaochen Wang</h2>
			</div>
		</div>
	</div>
   </footer>
    </body>
</html>
