<div class = "row">
    <div class="col-md-12">
        <h1>{{title}}<a herf="/employees/add" class = "btn btn-success pull-right" style="margin-top:5px;">Add New Employees</a></h1>
        <hr />
    </div>
</div>
<div class = "col-md-12">
    <table border = "0" >
        <thead>
            <tr>
                <th> Department Number </th>
                <th> Department Name </th>
            </tr>
        </thead>
            {{#each data}}
                <tr>
                    <td>{{departmentId}}</td> <td>{{departmentName}} </td>
                </tr>
            {{/each}}
        </tbody>
    </table>
</div>